body {
 background-color: #aaa;
 padding: 0;
 margin: 0;
 width: 100vw;
 /*height: 100vh;*/
 box-sizing: border-box;
 font-family: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0px 20px;
 background-color: deeppink;
}

.bio-info,
.freq,
.platform,
.features,
.feedback {
 border: 2px solid dodgerblue;
}

.navbar img {
 height: auto;
 width: 60px;
 background-color: deeppink;
 padding: 1em auto;
}

.link-container {
 display: flex;
} 

.link-container a {
 padding: 15px;
 text-align: center;
 text-decoration: none;
}

.link-container a:hover {
 background-color: hotpink;
}

.link-container a:active {
 background-color: hotpink;
 color: white;
}

header {
 background-color: #3b3b4f;
 padding: 10px 20px; 
 text-align: center; 
}

h1 {
 font-family: "Honk", "Bungee Spice", sans-serif;
 font-size: 48px;
 margin: 0;
}

p {
 font-family: "Bungee Spice", sans-serif;
 font-size: 20px;
 margin: 0;
}

main {
 padding-top: 50px;
}

form {
 width: 80%; 
 max-width: 600px; 
 margin: 0 auto; 
 padding: 20px; 
}

legend {
 font-family: "Bungee Spice", sans-serif;
 font-size: 24px
}

.bio-info label {
 display: inline-block;
}

.bio-info input {
 display: block;
 margin-bottom: 10px;
 max-width: 500px;
 width: 99%;
 border: none;
 padding-left: 10px;
 transition: border-bottom 0.3s ease;
}

.bio-info input:focus {
  border-bottom: 3px solid deeppink;  
}

input {
 width: 500px;
 outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

input[type=number] {
 -moz-appearance: textfield;
}

.freq div,
.platform div {
 display: flex;
 align-items: center;
 margin-bottom: 5px;
}

.freq div label,
.platform div label {
 margin-left: -220px; 
 display: inline-block;
}

.freq div input,
.platform div input {
 margin-left: -230px;   
}

.features select {
 display: block;
 margin: 5px 0px 10px 0px;
 padding: 4px 2px;
 outline: none;
}

textarea {
 resize: none;
 outline: none;
 padding: 5px;
}

textarea:focus {
 outline: none;
}

button {
 display: block;
 width: 80%;
 font-size: 40px;
 margin: 1em auto;
 height: 2em;
 background-color: deeppink;
 border: none;
 min-width: 200px;
 font-family: "Nabla", "Bungee Spice", sans-serif;
 margin-top: 10px;
}

button:hover,
button:focus {
 background-color: hotpink;
}

button:active {
 background-color: hotpink;
 color: white;
}

.feedback {
 margin-bottom: 20px
}

.inline{
 display: inline;
 width: unset;
 margin: 0 0.5em 0 0;
 vertical-align: middle;;
}

.terms {
 display: flex;
 justify-content: center;
 margin: 0 auto;
 width: 100%;
 text-align: center;
}

.terms a {
 color: #1E90FF;
}

.terms a:hover {
 color: #FF69B4;
 text-decoration: underline;
 }

.terms a:visited {
 color: #9370DB;
}

.terms a:active {
 color: #32CD32; 
}
